{:paths ["src"]
 :deps
 {
  }
 :aliases
 {
  :provided
  {:extra-deps
   {
    org.apache.maven/maven-model {:mvn/version "3.6.3"}
    ;; user.apache.maven.script
    org.clojure/tools.cli        {:mvn/version "1.0.206"}
    }}


  :test
  {:extra-paths ["test"]
   :extra-deps
   {
    org.clojure/tools.deps.alpha                {:mvn/version "0.9.884"}
    user.java.time/user.java.time               {:mvn/version "2020.267.10158"}
    user.tools.deps.alpha/user.tools.deps.alpha {:git/url "https://github.com/aJchemist/user.tools.deps.alpha.git" :sha "1a37f7e9185e524686b58b14ddfe552fefee282e"}
    }}


  :test-runner
  {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner" :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]}


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.2"}
    }}}}
