{:paths ["src"]
 :deps
 {
  }
 :aliases
 {
  :provided
  {:extra-deps
   {
    org.apache.maven/maven-model {:mvn/version "3.5.4"}
    ;; user.apache.maven.script
    org.clojure/tools.cli        {:mvn/version "1.0.194"}
    }}


  :test
  {:extra-paths ["test"]
   :extra-deps
   {
    org.clojure/tools.deps.alpha {:mvn/version "0.8.677"}
    user.tools.deps.alpha        {:git/url "https://github.com/aJchemist/user.tools.deps.alpha.git" :sha "b471c9964c843fb576e56bf65f54bb3be70ce78f"}
    }}


  :test-runner
  {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner" :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]}


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.1"}
    }}}}
